<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.wt.seek.dao.my.IAuthenticationMapper">

	<resultMap type="com.wt.seek.entity.Authentication"
		id="authentication">
		<id column="id" property="id" />
		<result column="customer_name" property="customerName" />
		<result column="identityNO" property="identityNO" />
		<result column="negative_identity_url"
			property="negativeIdentityUrl" />
		<result column="positive_identity_url"
			property="positiveIdentityUrl" />
		<result column="address" property="address" />
		<result column="tel" property="tel" />
		<result column="auth_result" property="authResult" />

		<association javaType="com.wt.seek.entity.Customer"
			property="customer">
			<result column="nickname" property="nickname" />
		</association>

	</resultMap>

	<select id="listAuthentication" resultMap="authentication">
		SELECT
		authentication.id,nickname,customer_name,identityNO,negative_identity_url,positive_identity_url,address,authentication.tel,auth_result
		FROM authentication LEFT JOIN customer ON
		authentication.customer_id=customer.id
		ORDER BY authentication.id desc
		LIMIT
		${(currentPageNo-1)*pageSize},${pageSize}
	</select>

	<select id="getAuthentication" resultType="Authentication">
		select * from
		authentication
		where customer_id=#{customerId};
	</select>
	
	<select id="getBackAuthentication" resultType="Authentication">
		select * from
		authentication
		where id=#{id};
	</select>

	<update id="updateAuthentication" parameterType="Authentication">
		update
		authentication
		<set>
			<if test="customerName != null">
				customer_name=#{customerName},
			</if>
			<if test="identityNO != null">
				identityNO=#{identityNO},
			</if>
			<if test="negativeIdentityUrl != null">
				negative_identity_url=#{negativeIdentityUrl},
			</if>
			<if test="positiveIdentityUrl != null">
				positive_identity_url=#{positiveIdentityUrl},
			</if>
			<if test="address != null"> 
				address=#{address},
			</if>
			<if test="tel != null">
				tel=#{tel},
			</if>
			<if test="authResult != null">
				auth_result=#{authResult}
			</if>
		</set>
		where id=#{id};
	</update>

	<insert id="saveAuthentication" useGeneratedKeys="true"
		keyProperty="id" parameterType="Authentication">
		insert into authentication
		(customer_id,customer_name,identityNO,address,tel,auth_result)
		values(#{customer.id},#{customerName},#{identityNO},#{address},#{tel},"等待认证");

	</insert>

	<select id="countAuthentication" resultType="Integer">
		SELECT COUNT(*) FROM
		authentication;
	</select>
</mapper>