<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.wt.seek.dao.my.IBrowseHistoryMapper">

 <resultMap type="com.wt.seek.entity.BrowseHistory" id="browsehistory">
		<id column="id" property="id" />
		<result column="last_browse_time" property="lastBrowseTime" />
	
	  <association javaType="com.wt.seek.entity.Seek" property="seek">
		<result column="ids" property="id" />
		<result column="miss_name" property="missName" />
		<result column="gender" property="gender" />
		<result column="birthdate" property="birthdate" />
		<result column="miss_date" property="missDate" />
		<result column="miss_detail_place" property="missDetailPlace" />
		<result column="seekimgs" property="seekimgs" />
	  </association>
	  
	</resultMap> 
	
	<select id="listBrowseHistory" resultMap="browsehistory">
		SELECT
		browse_history.id,seek.id AS ids,miss_name,gender,birthdate,miss_date,miss_detail_place,GROUP_CONCAT(seek_img.url SEPARATOR ',') AS seekimgs,last_browse_time FROM
		browse_history
		LEFT JOIN seek ON seek.id=browse_history.seek_id
		LEFT JOIN seek_img ON seek.id=seek_img.seek_id
		WHERE customer_id=#{customerId}
		GROUP BY browse_history.id,seek.id,miss_name,gender,birthdate,miss_date,miss_detail_place,last_browse_time
		ORDER BY last_browse_time desc
		LIMIT ${(currentPageNo-1)*pageSize},${pageSize}
	</select>

	<select id="deleteBrowseHistory" parameterType="Integer">
		delete from browse_history
		where id=#{id};
	</select>
	
	<select id="getBrowseHistory" parameterType="Integer">
		select id from browse_history
		where seek_id=#{id};
	</select>
	
	<update id="updateBrowseHistory" parameterType="Integer">
		update browse_history set last_browse_time=NOW()
		where id=#{id};
	</update>

	<insert id="saveBrowseHistory" parameterType="BrowseHistory">
		insert into browse_history
		(customer_id,seek_id,last_browse_time)
		values(#{customer.id},#{seek.id},NOW());
	</insert>

	<select id="countBrowseHistory" resultType="Integer">
		SELECT COUNT(*) FROM browse_history;
	</select>
</mapper>