<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>seek01</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 实际运行环境中,需要给每个项目添加一个webAppRootKey,否则会出现多个项目公用root的情况 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>seek01.root</param-value>
	</context-param>

	<!-- 配置log4j2 log4jConfiguration,如果文件放在classpath下,可以不用配置,下面的log4jConfiguration配置事實上可以省略. -->
	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>classpath:log4j2.xml</param-value>
	</context-param>

	<!-- <context-param>
        <param-name>log4jContextName</param-name>
        <param-value>star</param-value>
    </context-param> -->
	<!-- 配置log4j2 listener -->
	<!-- <listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener> -->

	<!-- applicationContext的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>


	<!-- 配置post请求,对中文的支持 -->
	 <filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
	
	
	<!-- 解决ajax无法进行PUT、DELETE请求无法传递参数 -->
	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping>
	

	<!-- 配置跨域请求 -->
	<!-- <filter>
		<filter-name>corsFilter</filter-name>
		<filter-class>com.wt.seek.filter.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	
	<!-- cors-filter2.6 jar包的跨域请求处理-->
	<filter>   
		<filter-name>CORS</filter-name>   
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>   
		<init-param>      
			<param-name>cors.allowOrigin</param-name>      
			<param-value>*</param-value>   
		</init-param>   
		<init-param>      
			<param-name>cors.supportedMethods</param-name>      
			<param-value>GET, POST, HEAD, PUT, DELETE</param-value>   
		</init-param>   
		<init-param>      
			<param-name>cors.supportedHeaders</param-name>      
			<param-value>Accept, Origin, X-Requested-With, Content-Type, Last-Modified, Access-Control-Allow-Origin</param-value>   
		</init-param>   
		<init-param>      
			<param-name>cors.exposedHeaders</param-name>      
			<param-value>Set-Cookie</param-value>   
		</init-param>   
		<init-param>      
			<param-name>cors.supportsCredentials</param-name>      
			<param-value>true</param-value>   
		</init-param>
	</filter>
	<filter-mapping>   
		<filter-name>CORS</filter-name>   
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- dispatcher Servlet -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

</web-app>
